
/* ********** Custom Properties ********** */

:root {
    --color-prim: cadetblue;
    --color-sec: #262626;

    --color-btn-action: rgb(124, 206, 209);
    //--color-btn-action-hover: rgb(141, 197, 199);
    --color-btn-action-hover: rgb(166, 218, 219);

    //--color-reg_selected: rgb(181, 254, 255);
    --color-reg_selected: rgb(255, 252, 74);
}