
/* ********** Custom Properties ********** */

:root {
    --color-prim: cadetblue;
    --color-sec: rgb(124, 206, 209);
    --color-black: #262626;

    --color-btn-action: rgb(166, 218, 219);
    --color-btn-action-hover: var(--color-sec);

    --color-reg_selected: rgb(255, 252, 74);
}